body {
    background-image: url("super-quiz.png");
    background-color:violet;  
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    text-shadow: 2px 2px 5px red;
    color: white;
    background-color: #1a66ff;
    /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
}
#buttonid{
    width: 100px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    color: #ffffff ;
    background-color: #90ee90;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#buttonid:hover{
    background-color: #3e8e41
}

#buttonid:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.maindiv{
    text-align:center;
}

#qndiv {
    text-align: center;
    align-content:center;
    
}
#buttondiv{
    text-align:center;
}
.radioptr{
    float:left;
}

#nextid {
    text-align:center;
    font-size: 28px;
    padding: 10px;
    transition: all 0.5s;
    margin: 5px;
    text-align:center;
    width: 100px;
    height: 50px;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    background-color: #90ee90;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#nextid:hover {
    background-color: #3e8e41;
}

#nextid:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#cancelid {
    font-size: 28px;
    padding: 10px;
    transition: all 0.5s;
    margin: 5px;
    text-align: center;
    width: 100px;
    height: 50px;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    background-color: #ff8080;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#cancelid:hover {
    background-color: #ff1030;
}

#cancelid:active {
    background-color: #ff1045;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#qndiv h3{
    font-size:40px;
}
.radioclass{
    width:400px;
    margin-left:750px;
}
.choice{
    font-size:30px;
}

#blink {
    animation: blinker 1.5s linear infinite;
 
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink-one {
    animation: blinker-one 2s linear infinite;
}

@keyframes blinker-one {
    0% {
        opacity: 0;
    }
}

.blink-two {
    animation: blinker-two 2s linear infinite;
}

@keyframes blinker-two {
    100% {
        opacity: 0;
    }
}